<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">CRM</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/sales" class="nav-link">Продажи</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" id="worksDropdown" class="nav-link dropdown-toggle" role='button' data-bs-toggle='dropdown' aria-expanded='false'>Заказ-наряды</a>
                    <ul class="dropdown-menu" aria-labelledby='navbarDropdown'>
                        <li>
                            <a href="/works" class="dropdown-item">Все заказ-наряды</a>
                        </li>
                        <li>
                            <a href="/works?active=true" class="dropdown-item">Заказ-наряды в работе</a>
                        </li>
                        <li>
                            <a href="/works/add" class="dropdown-item">Добавить новый заказ-наряд</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="" id="navbarDropdown" class="nav-link dropdown-toggle" role='button' data-bs-toggle='dropdown' aria-expanded='false'>Клиенты</a>
                    <ul class="dropdown-menu" aria-labelledby='navbarDropdown'>
                        <li>
                            <a href="/customers" class="dropdown-item">Все клиенты</a>
                        </li>
                        <li>
                            <a href="/customers/add" class="dropdown-item">Добавить клиента</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="/customers">
                <input type="text" name="searchString" placeholder="Поиск" class="form-control me-2">
                <button class="btn btn-outline-success  text-white" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>