<!doctype html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>
</head>
<body>
    <header>
        <%- include('./includes/navbar.ejs') %>
    </header>
    <main>
        <div class="container-fluid">
            <h1 style="text-align: center">Страница не найдена</h1>
        </div>
    </main>
</body>
</html>