extends layouts/main

block content

    .container-fluid.mt-2
        div(style="width: 25rem;")
            form(action="/customers/add" method="POST")
                div.mb-3.input-group-sm
                    span.input-group-text  Фамилия, Имя, Отчество
                    div.input-group.input-group-sm
                        span.input-group-text Ф.
                        input.form-control(type="text" id="lastName" name="lastName")
                    div.input-group.input-group-sm
                        span.input-group-text И.
                        input.form-control(type="text" id="firstName" name="firstName")
                    div.input-group.input-group-sm
                        span.input-group-text О.
                        input.form-control(type="text" id="patronymic" name="patronymic")
                    div.form-text(id="name-help") Заполняется любыми даннми, будь то хоть ссылка на VK.

                div.mb-3.input-group-sm
                    span.input-group-text  Адрес
                    //input.form-control(type="text" id="street" name="street" rows=3)
                    textarea.form-control(id="street" rows=2 name="street")
                    div.form-text(id="street-help") Заполните адрес если вам будет необходима эта информация (выезд/доставка).

                div.mb-3.input-group-sm
                    span.input-group-text  Комментарий
                    //input.form-control(type="text" id="street" name="street" rows=3)
                    textarea.form-control(id="comment" rows=5 name="comment")
                    div.form-text(id="commentHelp") Комментарий

                button.btn.btn-primary(type="submit") Сохранить