<!doctype html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>
</head>
<body>
<header>
    <%- include('./includes/navbar.ejs') %>
</header>
<main>
    <div class="container-fluid">
        <div class="mt-3" style="width: 50%">
            <form action="/customers/add" method="post" tyle="text-align: center">
                <div class="mb-3 input-group-sm">
                    <span class="input-group-text">Фамилия, Имя, Отчество</span>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Ф.</span>
                        <input class="form-control" type="text" id="lastName" name="lastName">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">И.</span>
                        <input class="form-control" type="text" id="firstName" name="firstName">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">О.</span>
                        <input class="form-control" type="text" id="patronymic" name="patronymic">
                    </div>
                    <div class="form-text" id="name-help">Заполняется любыми даннми, будь то хоть ссылка на VK.</div>
                </div>
                <div class="mb-3 input-group-sm">
                    <span class="input-group-text">Адрес</span>
                    <textarea class="form-control" id="street" rows=2 name="street"></textarea>
                    <div class="form-text" id="street-help">Заполните адрес если вам будет необходима эта информация (выезд/доставка).</div>
                </div>
                <div class="mb-3 input-group-sm"></div>
                <span class="input-group-text">Комментарий</span>
                <textarea class="form-control" id="comment" rows=5 name="comment"></textarea>
                <div class="form-text" id="commentHelp">Комментарий</div>
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </form>
        </div>
    </div>

</main>
</body>
</html>