extends layouts/main

block content
    .container-fluid
        if customers.length > 0
            table.table.table-success.table-striped
                thead
                    tr
                        th(scope="col") №
                        th(scope="col") Ф.И.О.
                        th(scope="col") Адрес
                        th(scope="col") Еще какая то инфа
                tbody
                    each customer in customers
                        tr(scope="row")
                            td #{customer.id}
                            td #{customer.name}
                            td #{customer.street}
                            td ...
        else
            h2  У вас еще нет ни одного клиента