<!doctype html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>
</head>
<body>
<header>
    <%- include('./includes/navbar.ejs') %>
</header>
<main>
    Список всех клиентов
</main>
</body>
</html>